* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


ul {
    list-style-type: none;
}


button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
    border: solid 0px;
}


a {
    text-decoration: inherit;
}


button:hover {
    background-color: #F2EFFA;
}